<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style.css"">
    <title>Find Client</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend>Find Client</legend>
                <br>
                <!-- <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Name</label>
                </div> -->
                <div id="render">
                    
                </div>
                <!-- <input type="submit" name="submit" class="btn-enviar" value="Find"> -->
                <input type="submit" name="submit" class="btn-find-all" value="Find all">
            </fieldset>
        </form>
    </div>
    
<script src="../index.js"></script>
</body>
</html> 